.navbar{
    height: 30px;
    background-color: #111;
    padding: 20px;
    justify-content: space-between;
}
.netflix_logo{
    width: 80px;
    position: absolute;
    left: 10px;
}
.avatar{
    width: 30px;
    position: absolute;
    right: 10px;
}